@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 214, 219, 220;
  /* --background-start-rgb: 214, 219, 220; */
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}
.per{
  width: 30px;
  height: 30px;
  background-color: #333;
  position: absolute;
}

.side{
  width: 15%;
  height: 100vh;
  background-color: #333;
  float: left;
}
.body{
  width: 85%;
  height: 100vh;
  background-color: #555;
  float: right;
}
.mover{
  width: 5px;
  height: 100vh;
  background-color: #101010;
  float: right;
}
.mover:hover{

  background-color: red;
  cursor: e-resize;

}

/* Table content styling */

.custom-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.custom-table-header, .custom-table-body, .custom-table-footer {
  /* display: table-row-group; */
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table-header .table-cell {
  font-weight: bold;
  background-color: #f0f0f0;
}

.custom-table-footer .table-cell {
  text-align: center;
  font-weight: bold;
}


thead {
  box-shadow: "0 0 12px 2px";
  line-height: "3";
  font-size: "18px";
  border-radius: "17px"
}

.flex.gap-3 button {
  width: 35%;
  background:#333;
  color: #fff;
  box-shadow: 0 0  6px 0;
  padding: 0 5px;
  border-radius: 4px;
  display: flex;
}

.flex.gap-3 button + * {
  width: 35%;
  background:#333;
  color: #fff;
  box-shadow: 0 0  6px 0;
  padding: 0 5px;
  border-radius: 4px;

}

.twraper{
  height: auto;
  min-width: 100%;
  color: #fff;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(14, 51, 31, 0.8295693277310925) 35%, rgba(4, 212, 255, 1) 100%);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}